In [ ]:
# 1. Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', and 'Expenses', representing monthly sales and expenses data.
# Use below table.

# | Month | Sales | Expenses |
# |-------|-------|----------|
# | Jan   | 5000  | 3000     |
# | Feb   | 6000  | 3500     |
# | Mar   | 7500  | 4000     |
# | Apr   | 8000  | 4500     |
import pandas as pd

sales_and_expenses = pd.DataFrame({'Month':['Jan','Feb','Mar','Apr'],'Sales':[5000,6000,7500,8000],'Expenses':[3000,3500,4000,4500]})
sales_and_expenses

  Month  Sales  Expenses
0   Jan   5000      3000
1   Feb   6000      3500
2   Mar   7500      4000
3   Apr   8000      4500

In [5]:
# 2. Calculate and display the maximum sales and expenses.
print(sales_and_expenses['Sales'].max())
print(sales_and_expenses['Expenses'].max())

8000
4500

In [6]:
# 3. Calculate and display the minimum sales and expenses.
print(sales_and_expenses['Sales'].min())
print(sales_and_expenses['Expenses'].min())

5000
3000

In [7]:
# 4. Calculate and display the average sales and expenses.
print(sales_and_expenses['Sales'].mean())
print(sales_and_expenses['Expenses'].mean())

6625.0
3750.0